
html,body{
    height: 100vh;
    margin: 0;
}

.container , .icons {
   
    display: flex;
    height: 100vh;
    background-color: #222;

}
.balance {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 490px;
    height: 360px;
    position: absolute;
    background-color: black;
}

.container,.balance , .icons{
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.box{
    display: grid;
    grid-template-rows: 180px 50px;
    border-radius: 20px;
    width: 220px;
    height: 240px;
    background-color: black;
}

img{
    position: relative;
    height: 200px;
    width: 200px;
}
.heart ,.Dermatology{
    margin-left: 4%;
    margin-right: 25%;
}
.teeth,.stethoscope{
    margin-left: 15%;
    margin-top: 10%;
    margin-right: 25%;
    height: 150px;
    width: 150px;
}
.Dermatology ,.stethoscope ,.teeth{
    bottom: 20px;
}

.window-2{ 
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    height:600px;
    background-color: black;
    border-radius: 20px;
    
}


.form-2{
    /* to block by js */
    display: none;
    position: absolute;
}
.info{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
}


#well{
    position: absolute;
    color: white;
    margin: 0;
    bottom: 660px;
    font-size: 3rem;
}

 textarea::placeholder {
    font-size: 1.5rem; 
  }


  .box p{
    text-align: center;
    
    grid-row-start: 2;
    grid-row-end: 3; 
    font-size:1.5rem;
  }
 
  .box p , .balance p , span{    

        margin: 0;
        color: white;
  }


.info{
    display: grid;
    grid-template-rows: 112px 160px 1fr;
    margin-left: 10%;
}
.Disease input{
    margin-top: 43px;
    height: 35px;
}

.Disease input::placeholder{
   font-size: 1.5rem;
}

.pharmaceutical textarea , .nots textarea{
    height: 90%;

}
.pharmaceutical textarea , .Disease input , .nots textarea{
        width: 90%;

}
.pharmaceutical textarea , .Disease input ,.nots textarea{
    border-radius: 15px;
}

#download ,#close {
    position: relative;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 2rem;
    border-radius: 20px;   
}
#download{
     left: 60%;
    margin-top: 5%;
    border: 0;
    background-color: #1F7D53;

}
#close ,.close-balance-window{
    right: 20%;
    background-color: red;
}

.name , .age{
    height: 30px;
    margin-top: 5%;
   
}
.name{
    width: 200px;
    margin-left: 4%;
}
.age{
    width: 100px;
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 65%;
}
input::placeholder{
    font-size: 1.5rem;
}
.balance-button ,.close-balance-window{
    position: absolute;
   
    width: 150px;
    height: 90px;
    border-radius: 20px;
    font-size: 2rem;
    
}
.close-balance-window{
    color: white;
    display: none;
}
.buttons{
    position: absolute;
    width: 188px;
    height: 90px;
    top: 72%;
    left: 44%;
}
.balance p{
    font-size: 1.5rem;
    text-align: center;
}
.b{
    margin-top: 20%;
}
  @media screen and (max-width:768px) {
    .icons{
        margin-top: 65%;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 60px;
  }
  #well{
    bottom: 800px;
  }
  .window-2{
    width: 500px;
  }
  .age{
    margin-left: 50%;
  }
  #download{
    left: 31%;
  }
  #close{
    right: 36%;
}
#download{
  left: 57%;
}
.balance-button ,.close-balance-window{
    top: 80%;

}
.buttons{
    left: 38%;
}
  }
 